{% extends 'baseAdmin.html.twig' %}

{% block title %}Postulation index{% endblock %}

{% block content %}
    <h1>Postulation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Motivation</th>
                <th>Price</th>
                <th>Duration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for postulation in postulations %}
            <tr>
                <td>{{ postulation.id }}</td>
                <td>{{ postulation.motivation }}</td>
                <td>{{ postulation.price }}</td>
                <td>{{ postulation.duration }}</td>
                <td>
                    <a href="{{ path('postulation_show_back', {'id': postulation.id}) }}">show</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
