{% extends 'baseLogin.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}

    <section id="home" class="banner">
        <div id="banner-bg-effect" class="banner-effect">
            <div class="container">



                <div class="wrapper">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <div class="signin-popup">
                        <div class="signin-pop">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="cmp-info">
                                        <div class="cm-logo">
                                            <img src="images/cm-logo.png" alt="">
                                            <p>Workwise,  is a global freelancing platform and social networking where businesses and independent professionals connect and collaborate remotely</p>
                                        </div><!--cm-logo end-->
                                        <img src="images/cm-main-img.png" alt="">
                                    </div><!--cmp-info end-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="login-sec">
                                        <ul class="sign-control">
                                            <li data-tab="tab-1" class="current"><a href="" title="">Sign in</a></li>
                                            <a href="{{ path('register') }}" title="">Sign up</a>
                                        </ul>

                                        <div class="sign_in_sec current" id="tab-1">

                                            <div class="dff-tab current" id="tab-3">
                                                <div class="column large-12 tab-12">
                                                    <form method="post">


                                                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                                                        <label for="inputEmail">Email</label>
                                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                                                        <label for="inputPassword">Password</label>
                                                        <input type="password" name="password" id="inputPassword" class="form-control" required>

                                                        <input type="hidden" name="_csrf_token"
                                                               value="{{ csrf_token('authenticate') }}"
                                                        >

                                                        {#
                                                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                                        See https://symfony.com/doc/current/security/remember_me.html

                                                        <div class="checkbox mb-3">
                                                            <label>
                                                                <input type="checkbox" name="_remember_me"> Remember me
                                                            </label>
                                                        </div>
                                                        #}
                                                        <a href="{{ path('app_forgot_password_request') }}">Forgot password</a>
                                                        <button class="btn btn-lg btn-primary" type="submit">
                                                            Sign in
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>

                                        </div><!--login-sec end-->
                                    </div>
                                </div>
                            </div><!--signin-pop end-->
                        </div><!--signin-popup end-->
                        <div class="footy-sec">
                            <div class="container">
                                <ul>
                                    <li><a href="#" title="">Help Center</a></li>
                                    <li><a href="#" title="">Privacy Policy</a></li>
                                    <li><a href="#" title="">Community Guidelines</a></li>
                                    <li><a href="#" title="">Cookies Policy</a></li>
                                    <li><a href="#" title="">Career</a></li>
                                    <li><a href="#" title="">Forum</a></li>
                                    <li><a href="#" title="">Language</a></li>
                                    <li><a href="#" title="">Copyright Policy</a></li>
                                </ul>
                                <p><img src="images/copy-icon.png" alt="">Copyright 2018</p>
                            </div>
                        </div><!--footy-sec end-->
                    </div><!--sign-in-page end-->


                </div><!--theme-layout end-->
            </div>
        </div>
    </section>

{% endblock %}
