{% extends 'baseAdmin.html.twig' %}

{% block title %}Question index{% endblock %}

{% block content %}
    <h1>Question index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statement</th>
                <th>AnswerA</th>
                <th>AnswerB</th>
                <th>AnswerC</th>
                <th>RightAnswer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.statement }}</td>
                <td>{{ question.answerA }}</td>
                <td>{{ question.answerB }}</td>
                <td>{{ question.answerC }}</td>
                <td>{{ question.rightAnswer }}</td>
                <td>
                    <a href="{{ path('question_show_back', {'id': question.id}) }}">show</a>
                    <a href="{{ path('question_edit_back', {'id': question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('question_new_back') }}">Create new</a>
{% endblock %}
