{% extends 'baseLogin.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block content %}





    <div class="hold-transition login-page">
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="{{ path('landing_page') }}" class="h1"><b>Service</b> Provider</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">You forgot your password ? <br> Here you can easily retrieve a new password.</p>
                {{ form_start(requestForm) }}
                    <div class="input-group mb-3">
                        {{ form_row(requestForm.email) }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-success btn-block">Request new password</button>
                        </div>
                        <!-- /.col -->
                    </div>
                {{ form_end(requestForm) }}
                <p class="mt-3 mb-1">
                    <a href="{{ path('app_login') }}">Login</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    </div>
{% endblock %}