{% extends 'base.html.twig' %}

{% block title %}Domain index{% endblock %}

{% block body %}
    <h1>Domain index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for domain in domains %}
            <tr>
                <td>{{ domain.id }}</td>
                <td>{{ domain.title }}</td>
                <td>
                    <a href="{{ path('domain_show_front', {'id': domain.id}) }}">show</a>
                    <a href="{{ path('domain_edit_front', {'id': domain.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('domain_new_front') }}">Create new</a>
{% endblock %}
