{% extends 'base.html.twig' %}

{% block title %}Domain{% endblock %}

{% block content %}
    <h1>Domain</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ domain.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ domain.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('domain_index_front') }}">back to list</a>

    <a href="{{ path('domain_edit_front', {'id': domain.id}) }}">edit</a>

    {{ include('FrontInterface/domain/_delete_form.html.twig') }}
{% endblock %}
