{% extends 'baseAdmin.html.twig' %}

{% block title %}Competence{% endblock %}

{% block content %}
<div class="content-wrapper">
    <h1>Competence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ competence.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ competence.titre }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ competence.categorie }}</td>
            </tr>
            <tr>
                <th>Verification</th>
                <td>{{ competence.verification ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IdQuiz</th>
                <td>{{ competence.idQuiz }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('competence_index') }}">back to list</a>

    <a href="{{ path('competence_edit', {'id': competence.id}) }}">edit</a>

    {{ include('competence/_delete_form.html.twig') }}
</div>
{% endblock %}
