{% extends 'base.html.twig' %}

{% block title %}Postulation{% endblock %}

{% block body %}
    <h1>Postulation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ postulation.id }}</td>
            </tr>
            <tr>
                <th>Motivation</th>
                <td>{{ postulation.motivation }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ postulation.price }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ postulation.duration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('postulation_index_front') }}">back to list</a>

    <a href="{{ path('postulation_edit_front', {'id': postulation.id}) }}">edit</a>

    {{ include('FrontInterface/postulation/_delete_form.html.twig') }}
{% endblock %}
