{% extends 'baseAdmin.html.twig' %}

{% block title %}Skill index{% endblock %}

{% block content %}
    <h1>Skill index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for skill in skills %}
            <tr>
                <td>{{ skill.id }}</td>
                <td>{{ skill.title }}</td>
                <td>{{ skill.description }}</td>
                <td>
                    <a href="{{ path('skill_show_back', {'id': skill.id}) }}">show</a>
                    <a href="{{ path('skill_edit_back', {'id': skill.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('skill_new_back') }}">Create new</a>
{% endblock %}
