{% extends 'baseAdmin.html.twig' %}

{% block title %}Skill{% endblock %}

{% block content %}
    <h1>Skill</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ skill.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ skill.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ skill.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('skill_index_back') }}">back to list</a>

    <a href="{{ path('skill_edit_back', {'id': skill.id}) }}">edit</a>

    {{ include('BackInterface/skill/_delete_form.html.twig') }}
{% endblock %}
