{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block content %}
    <section class="companies-info">
        <div class="container">
            <div class="company-title">
                <h3>All Profiles</h3>
                <form method="post" action="{{ path('rechercheProfile') }}">

                    <input type="text"name="search"> <input type="submit" value="Recherche">
                </form>
            </div><!--company-title end-->
            <div class="companies-list">
                <div class="row">
                    {% for user in users %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <img src="http://via.placeholder.com/91x91" alt="">
                                <h3>{{ user.prenom }} {{ user.nom }}</h3>
                                <h4>{{ user.specialisation }}</h4>
                                <ul>
                                    <li><a href="#" title="" class="follow">Follow</a></li>
                                    <li><a href="{{ path('project_new_front') }}" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
                                    <li><a href="#" title="" class="hire-us">Hire</a></li>
                                </ul>
                            </div>
                            <a href="{{ path('user_show_front', {'id': user.id}) }}" title="" class="view-more-pro">View Profile</a>
                        </div><!--company_profile_info end-->
                    </div>
                    {% else %}

                            <p>no records Users found</p>

                    {% endfor %}






                </div>
            </div><!--companies-list end-->

        </div>
    </section><!--companies-info end-->
{% endblock %}
