{% extends 'base.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}
    <h1>Offre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>CreatAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.id }}</td>
                <td>{{ offre.title }}</td>
                <td>{{ offre.description }}</td>
                <td>{{ offre.creatAt ? offre.creatAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('offre_show_front', {'id': offre.id}) }}">show</a>
                    <a href="{{ path('offre_edit_front', {'id': offre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('offre_new_front') }}">Create new</a>
{% endblock %}
