{% extends 'base.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block content %}

<div class="content-wrapper" style="min-height: 1593.75px;">
    <h1>Offres</h1>

    <table class="table">
        <thead>
        <tr>


        </tr>
        </thead>
        <tbody>
        <div class="posts-section">
            {% for offre in offres %}




                <tr>
                    <div class="post-bar">
                        <div class="post_topbar">
                            <div class="usy-dt">
                                <img src="http://via.placeholder.com/50x50" alt="">
                                <div class="usy-name">
                                    <h3>{{ offre.getUser() }}</h3>
                                    <span><img src="images/clock.png" alt="">3 min ago</span>
                                </div>
                            </div>

                            <div class="job_descp">
                                <h3>{{ offre.title }}</h3>
                                <ul class="job-dt">
                                    <li><span>{{ offre.creatAt ? offre.creatAt|date('Y-m-d H:i:s') : '' }}</span></li>
                                </ul>
                                <p>{{ offre.description }}</p>
                                <ul class="skill-tags">
                                    <li><a href="#" title="">HTML</a></li>
                                    <li><a href="#" title="">PHP</a></li>
                                    <li><a href="#" title="">CSS</a></li>
                                    <li><a href="#" title="">Javascript</a></li>
                                    <li><a href="#" title="">Wordpress</a></li>
                                    <li><a href="#" title="">Photoshop</a></li>
                                    <li><a href="#" title="">Illustrator</a></li>
                                    <li><a href="#" title="">Corel Draw</a></li>
                                </ul>
                            </div>
                            <div class="post-st">
                                <ul>
                                    {#  <li><a class="post_project" href="{{ path('annonces_delete', {'id': annonce.id}) }}"title="">Delete</a></li>#}
                                    <li><a href="{{ path('offre_show_front', {'id': offre.id}) }}">show</a></li>
                                    <li><a href="{{ path('offre_edit_front', {'id': offre.id}) }}">edit</a></li>
                                </ul>
                            </div><!--post-st end-->



                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="post-st">
        <ul>
            <li><a href="{{ path('offre_new_front') }}">Create new</a></li>

        </ul>
    </div>
</div>
{% endblock %}
