
    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}

    <div class="row">
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                {{ form_row(form.username) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                {{ form_row(form.nom) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                {{ form_row(form.prenom) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                {{ form_row(form.email) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                {{ form_row(form.password) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                {{ form_row(form.phone) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                {{ form_row(form.bio) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                {{ form_row(form.specialisation) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                {{ form_row(form.secteur) }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                {{ form_row(form.montantHoraire) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-block btn-success btn-sm">{{ button_label|default('Add') }}</button>
        </div>
    </div>

    {{ form_end(form) }}
