{% extends 'base.html.twig' %}

{% block title %}Hello UserProfilController!{% endblock %}

{% block content %}
    <section class="cover-sec">
        <img src="http://via.placeholder.com/1600x400" alt="">
        <a href="#" title=""><i class="fa fa-camera"></i> Change Image</a>
    </section>
    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="main-left-sidebar">
                                <div class="user_profile">
                                    <div class="user-pro-img">
                                        <img src="{{ asset('Kernel.project_dir/public/uploads/') ~ user.photo | imagine_filter('my_thumb') }}" alt="">
                                        <a href="#" title=""><i class="fa fa-camera"></i></a>
                                    </div><!--user-pro-img end-->
                                    <div class="user_pro_status">
											<div class="user-tab-sec">
												<h3>{{ user.prenom }} {{ user.nom }}</h3>
												<div class="star-descp">
													<span>{{ user.specialisation }}</span>
											    </div><!--star-descp end-->
									     	</div>
										<div class="user-profile-ov">

											<p>{{ user.bio }}</p>

											<ul class="social_links">
												<li><a href="#" title=""><i class="la la-globe"></i> www.example.com</a></li>
											</ul>
										</div><!--user-profile-ov end-->
                                    </div><!--user_pro_status end-->
								</div><!--user_profile end-->

                               
                            </div><!--main-left-sidebar end-->
                        </div>
                        <div class="col-lg">
                            <div class="main-ws-sec">
								<div class="container-fostrap">

									<div class="content">
										<div class="container">
											<div class="row">

												<div class="col-xs-12 col-sm-4">
													<div class="card">
														<a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
															<img src="https://3.bp.blogspot.com/-bAsTyYC8U80/VtLZRKN6OlI/AAAAAAAABjY/kAoljiMALkQ/s400/material%2Bnavbar.jpg" />
														</a>
														<div class="card-content">
															<h4 class="card-title">
																<a href="http://www.fostrap.com/2016/02/awesome-material-design-responsive-menu.html"> Material Design Responsive Menu
																</a>
															</h4>
															<p class="">
																Material Design is a visual programming language made by Google. Language programming...
															</p>
														</div>
														<div class="card-read-more">
															<a href="https://codepen.io/wisnust10/full/ZWERZK/" class="btn btn-link btn-block">
																Read More
															</a>
														</div>
													</div>
												</div>
												<div class="col-xs-12 col-sm-4">
													<div class="card">
														<a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
															<img src="https://4.bp.blogspot.com/-TDIJ17DfCco/Vtneyc-0t4I/AAAAAAAABmk/aa4AjmCvRck/s1600/cover.jpg" />
														</a>
														<div class="card-content">
															<h4 class="card-title">
																<a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">5  Button Hover Animation Effects
																</a>
															</h4>
															<p class="">
																tutorials button hover animation, although very much a hover button is very beauti...
															</p>
														</div>
														<div class="card-read-more">
															<a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
																Read More
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
                                
                            </div><!--main-ws-sec end-->
                        </div>
                        
                            
                            
                    </div>
                </div><!-- main-section-data end-->
            </div>
        </div>
    </main>
{% endblock %}
