{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}
{% block content %}
    <!-- summernote -->


    <section class="forum-page">
        <div class="container">
            <div class="forum-questions-sec">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="forum-post-view">
                            <div class="usr-question">

                                <div class="usr_img">
                                    <img src="http://via.placeholder.com/60x60" alt="">
                                </div>
                                <p title="{{ post.creatAt ? post.creatAt|date('Y-m-d H:i') : '' }}"
                                   style="text-align: right; line-height: 2;">
                                    🕘 {{ post.creatAt ? post.creatAt|date("M d H:i a") : '' }}</p>
                                <div class="usr_quest">

                                    <h3 style="line-height: 1.4;">{{ post.title }}</h3>
                                    <p>{{ post.description }}</p>
                                    <ul class="react-links">
                                        <li><a href="{{ path('clickLikes', {'id': post.id}) }}" title="">❤️ Likes</span>
                                                {% if post.likes is null %}
                                                    0
                                                {% else %}
                                                    {{ post.likes }}
                                                {% endif %}
                                            </a></li>
                                        <li><a href="#" title=""> 👁️ Views
                                                {% if post.views is null %}
                                                    0
                                                {% else %}
                                                    {{ post.views }}
                                                {% endif %}</a></li>
                                    </ul>


                                    <ul class="quest-tags">
                                        {% for tag in tags %}
                                            {% if post.frm.id == tag.tagPost.get('id') %}
                                                <li><a href="#" title="{{ tag.description }}">{{ tag.title }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>

                                    <div class="comment-section">
                                        <h3>{{ post.noc }} Comments</h3>
                                        <div class="comment-sec">
                                            <ul>

                                                {% for comment in comments %}
                                                    {% if comment.pst.id == post.id %}

                                                        <li>
                                                            <div class="comment-list">
                                                                <div class="bg-img">
                                                                    <img src="http://via.placeholder.com/40x40" alt="">
                                                                </div>
                                                                <div class="comment">
                                                                    <h3>{{ comment.usr.username }}</h3>
                                                                    <span><img src="{{ asset('images/clock.png') }}"
                                                                               alt=""> {{ comment.creatAt ? comment.creatAt|date('Y-m-d H:i:s') : '' }}</span>
                                                                    <p>{{ comment.content }}</p>
                                                                    <br>
                                                                    <a href="{{ path('clickLikescomment', {'id': comment.id}) }}">❤️
                                                                        Likes</span>
                                                                        {% if comment.likes is null %}
                                                                            0
                                                                        {% else %}
                                                                            {{ comment.likes }}
                                                                        {% endif %}
                                                                    </a>
                                                                </div>
                                                            </div><!--comment-list end-->
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}

                                            </ul>
                                        </div><!--comment-sec end-->
                                    </div>
                                </div><!--usr_quest end-->
                            </div><!--usr-question end-->
                        </div><!--forum-post-view end-->
                        <div class="post-comment-box">
                            <h3>{{ post.noc }} Comments</h3>
                            <div class="user-poster">
                                <div class="usr-post-img">
                                    <img src="http://via.placeholder.com/40x40" alt="">
                                </div>
                                <div class="post_comment_sec">
                                    {{ include('FrontInterface/comment/_form.html.twig') }}
                                </div><!--post_comment_sec end-->
                            </div><!--user-poster end-->
                        </div><!--post-comment-box end-->

                    </div>
                    <div class="col-lg-4">
                        <div class="widget widget-user">
                            <h3 class="title-wd">Top Forums of the Week</h3>
                            <ul>
                                <li>
                                    <div class="usr-msg-details">
                                        <div class="usr-ms-img">
                                            <img src="http://via.placeholder.com/50x50" alt="">
                                        </div>
                                        <div class="usr-mg-info">
                                            <h3>Jessica William</h3>
                                            <p>Graphic Designer </p>
                                        </div><!--usr-mg-info end-->
                                    </div>
                                </li>
                            </ul>
                        </div><!--widget-user end-->
                        <div class="widget widget-adver">
                            <img src="http://via.placeholder.com/370x270" alt="">
                        </div><!--widget-adver end-->
                    </div>
                </div>
            </div><!--forum-questions-sec end-->
        </div>
    </section><!--forum-page end-->

    <!-- Summernote -->
{% endblock %}

