{{ form_start(form,{'attr':{'action': path('post_edit_front',{'id':post.id}) }}) }}
<div class="card-body">
<div class="form-group">
    <label style='line-height: 2;'>Title * :</label>
    {{ form_widget(form.title,{'attr':{'class':'form-control' , 'id':'inputName'}}) }}
    <div style="color :red;">
        {{form_errors(form.title)}}
    </div>
</div>
<div class="form-group">
    <label style='line-height: 2;'>Description * :</label>
    {{ form_widget(form.description,{'attr':{'class':'form-control' , 'id':'inputDescription'}}) }}
    <div style="color :red;">
        {{form_errors(form.description)}}
    </div>
</div>
   {{ form_widget(form.usr,{'attr':{'style':'display:none'}}) }}
    {{ form_widget(form.creatAt,{'attr':{'style':'display:none'}})}}
    {{ form_widget(form.views,{'attr':{'style':'display:none'}}) }}
    {{ form_widget(form.likes,{'attr':{'style':'display:none'}}) }}
    {{ form_widget(form.noc,{'attr':{'style':'display:none'}}) }}
    {{ form_widget(form.frm,{'attr':{'style':'display:none'}}) }}
    {{ form_widget(form.statusLike,{'attr':{'style':'display:none'}}) }}

<div style="width: 100%; display:flex; justify-content: flex-end">

    <button class="btn btn-primary btn-sm shadow-sm mt-2 mb-2">
        Update
    </button>
</div>
{{ form_end(form) }}